// SCsS File EzyPos


//== Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Palanquin+Dark:400,500,600,700');

//== Custom
@import "custom/index";

