#about-top{
    position: relative;
    background: url('./assets/img/background-about.png');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    padding-bottom: 100px;
    color: white;

    #main-about{
        padding-top: 300px;
    }

    #unique-logo{
        margin-left:150px;
        margin-top:-150px;
    }

}

#arta-desc{
    position: relative;
    height: 100%;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
    color: #333333;
}

#about-content{
    background-color: #f2f2f2;
    position: relative;
    height: 100%;
    width: 100%;
    padding-top: 120px;
    padding-bottom: 120px;
    color: #333333;

    .box-content{
        &-right{
            box-shadow: 38px -38px 0px -19px rgba(227,0,0,1);
            background-size: 100%;
            background-repeat: no-repeat;
            width: 100%;
            height: 550px;
        }
        &-left{
            box-shadow: -38px -38px 0px -19px rgba(227,0,0,1); 
            background-size: 100%;
            background-repeat: no-repeat;
            width: 100%;
            height: 550px;
        }
    }
    .box-content-padding{
        padding:25px;
        padding-top:30%;
        padding-bottom:30%;
        
        .color-p{
            font-size: 15px;
            color:#737373;
        }
    }
}

#contact-us{
    // background-color: #f2f2f2;
    position: relative;
    height: 100%;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 120px;
    color: #333333;
}

#question{
    position: relative;
    height: 100%;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 200px;
    color: #1a1a1a;

    .btn-support{
        // box-shadow: 16px 18px 25px -10px rgba(150,150,150,1);
        box-shadow: 3px 5px 10px 3px rgba(150,150,150,.3);
        border-radius: 3px;
        color:#1a1a1a;
    }
}