#faq-top{
    position: relative;
    background: url('./assets/img/background-faq.png');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    color: white;

    #main-faq{
        padding-top: 300px;
    }

    #iphone-hand-3{
        margin-left:-90px;
        margin-top:-201px;
    }

}

#faq-menu{
    position: relative;
    height: 100%;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 50px;
    color: #1a1a1a;

    .faq-item{
        margin-top:50px;
    }
}

#more-question{
    position: relative;
    height: 100%;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 200px;
    color: #1a1a1a;

    .btn-support{
        // box-shadow: 16px 18px 25px -10px rgba(150,150,150,1);
        box-shadow: 3px 5px 10px 3px rgba(150,150,150,.3);
        border-radius: 3px;
        color:#1a1a1a;
    }
}