#feature-top{
    position: relative;
    background: url('./assets/img/background-feature.png');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    padding-bottom: 50px;
    color: white;

    #main-feature{
        padding-top: 300px;
    }

    #iphone-stand{
        margin-left:150px;
        margin-top:-290px;
    }

}

#feature-list{
    position: relative;
    height: 100%;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
    color: #1a1a1a;

    .relative-sidebar-start{
        position: relative;
        min-width: 293px;
        transition-duration: 0.8s;
        transition-delay: 0s;
        transition-property: all;
        transition-timing-function: ease-in-out;
    }

    .relative-sidebar-end{
        position: absolute;
        bottom: 0;
        min-width: 293px;
        transition-duration: 0.8s;
        transition-delay: 0s;
        transition-property: all;
        transition-timing-function: ease-in-out;
    }

    .fixed-sidebar{
        position: fixed;
        top: 30px;
        min-width: 293px;
        transition-duration: 0.8s;
        transition-delay: 0s;
        transition-property: all;
        transition-timing-function: ease-in-out;
    }

}

.list-group{
    background: #e6e6e6;
    padding: 10px 20px; 
    .list-group-item:first-child {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .list-group-item:last-child {
        margin-bottom: 0;
        border:0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    .list-group-item{
        cursor: pointer;
        padding: 0;
        line-height: 1.7;
        border:0;
        border-bottom: 1px solid #ccc;
        background: transparent !important;
        &:hover{
            background: transparent !important;
        }
        &.active {
            z-index: 2;
            color: #fff;
            background-color: #808080;
            border-color: #808080;

            &:before {
                content: "";
                height: 80%;
                top: 50%;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
                width: 3px;
                background: #737373;
                position: absolute;
                left: -20px;
            }
        }
        a{
            color: #4d4d4d;
            padding: 8px 20px;
            margin: 0px;
            display: block;
            border-radius: .25rem;
            &.active{
                color: #4d4d4d !important;
                background: transparent !important;
                font-weight: 500;
                &::after{
                    content: '\F00C';
                    font-family: 'Font Awesome 5 Solid';
                    position: absolute;
                    right: 20px;
                }
            }
            &:hover{
                color: #131313;
                background: transparent !important;
                text-decoration: none;
            }
        }
    }
}