#home-top{
    position: relative;
    background: url('./assets/img/bg-home-top.png');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;
    // height: 2070px;
    width: 100%;
    color: white;

    #main-dashboard{
        padding-top: 400px;
    }

    #img-hand{
        margin-left:-40px;
        margin-top:-350px;
    }

    .padding-v-10{
        padding-top:10px;
        padding-bottom:10px;
    }
}

#home-feature{
    background: url('./assets/img/bg-home-feature.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    // height: 974px;    
    height: 100%;
    padding-bottom:80px;
    color: white;

    #body-row{
        margin-top:50px;
    }

    #smartphone-fitur{
        margin-left:6%;
        margin-right:6%;
    }

    .desc-feature{
        width: 300px;
        vertical-align: middle;
    }

    .margin-left-20{
        margin-left:20px;
    }
    
    .margin-right-20{
        margin-right:20px;
    }

}
.header-section{
    padding-top:80px
}

.desc{
    width:80%;
    margin-left:10%;
    margin-right:10%;
}

#home-screenshots{
    background: url('./assets/img/bg-home-screenshots.png');
    // background: white;
    background-size: 100%;
    background-repeat: no-repeat;
    // background-color: white;
    width: 100%;
    height: 843px;
    // height: 100%;
    // padding-bottom:80px;
    color: #1a1a1a;

    #smartphone-shell{
        position: relative;
        margin-top: -523px;
    
        #smartphone{
        position: absolute;
        width:260px;
        left:50%;
        margin-left: -140px;
        // margin-top: -523px;
        // margin-left: 36.5%;
        // margin-right: 36.5%;
        z-index: 4000;
        }
    }
    
    .screenshots-img{
        width:200px;
        height:422px;
    }
}

#home-video{
    background: url('./assets/img/video.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 758px;
    // height: 100%;
    color: white;

    .btn-play{
        height: 100px;
        width: 100px;
        background: url('./assets/img/button/button-play.png');
        background-repeat: no-repeat;
        background-size: 100%;
        transition-duration: 0.8s;
        transition-delay: 0s;
        transition-property: all;
        transition-timing-function: ease-in-out;
        box-shadow: none;
        border: none;
    
        &.hover,
        &:hover {
            box-shadow: none;
            border: none;
        }
    
        &.focus,
        &:focus {
            border: none;
            box-shadow: none;
        }
        &:not(:disabled):not(.disabled):active,
        &:not(:disabled):not(.disabled).active,
        .show>&.dropdown-toggle {
            box-shadow: none;
            border: none;
        }
        &:not(:disabled):not(.disabled):active:focus,
        &:not(:disabled):not(.disabled).active:focus,
        .show>&.dropdown-toggle:focus {
            border: none;
            box-shadow: none;
        }
    }
}

#home-testimonial{
    background: url('./assets/img/bg-home-testimonial.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: center;
    // background-color: white;
    width: 100%;
    height: 650px;
    // height: 100%;
    // padding-bottom:80px;
    color: #1a1a1a;
}

.testimonial{
    background: url('./assets/img/rectangle.png');
    background-size: 100%;
    background-repeat: no-repeat;
    // width: 900px;
    height: 373px;
    color: white;

    .testimonial-slide{
        padding: 8% 6%;

        .company{
            &-name{
                text-align: center;
                margin-top: 20px;
            }
            &-desc{
                text-align: center;
                margin-top: 40px;
            }
        }

        .vl{
            border-right: 3px solid white;
            height: 100%;
            width: 20px;
        }
    }
}
