.row-custom {
  flex-wrap: nowrap;
}

.cards-menu {
  z-index: 2 !important;
  margin-top: -5vh;
  .card {
    margin: 0 5px;
    width: 15.5% !important;
    padding: 0 25px;
    box-shadow: 0 18px 55px 0 rgba(0, 0, 0, 0.06);
    transition: all 0.2s ease;
    border: 1px solid rgb(236, 236, 236);
    transition: box-shadow 0.25s ease 0s, transform 0.25s ease 0s,
      -webkit-transform 0.25s ease 0s;
    cursor: pointer;
    .small-border {
      background-color: #dc3226;
      height: 2px;
      width: 35px;
      border-top: none;
      border-radius: 50px;
      text-align: left;
      margin: 10px auto;
    }
    &:hover {
      // box-shadow: 0 18px 55px 0 rgba(220, 51, 39, 0.1);
      // -ms-transform: translateY(-6px);
      // transform: translateY(-6px);
      z-index: 21;
      -webkit-transform: scale(1.05);
      transform: scale(1.05);
      box-shadow: 1.2rem 1.5rem 5rem 0 rgba(0, 0, 0, 0.25);
    }
  }
}

.article-section {
  min-height: 50vh;
  max-width: 100vw;
  .scrollspy-header {
    position: absolute;
    width: 100vw;
    margin-top: -40px;
    // transition: all 0.2s;
    .scrollspy-custom {
      text-align: center;
      border-bottom: 1px solid #e6e6e6;
      margin: 0;
      li {
        display: inline-block;
        position: relative;
        margin: 0 20px;
        a {
          transition-duration: 0.5s;
          color: #282828;
          text-decoration: none;
        }
        &.active {
          border-bottom: 1.5px solid #dc3226;
          padding: 0 0 15px;
        }
      }
    }
    &.fixed {
      position: fixed;
      top: 118px;
      background: white;
      padding-top: 10px;
      z-index: 10;
      // transition: all 0.5s;
    }
  }
  .row {
    min-height: 50vh;
    h4 {
      margin: 15px 0;
    }
  }
}

.testimonial {
  background: #ccc;
  padding: 50px 0;
  .box-testimonial {
    width: 100%;
    height: 50vh;
    background: #fff;
    border-radius: 100px 0 100px;
    padding: 8vh 5vw;
    #testimonial-carousel {
      height: 100%;
      position: relative;
      z-index: 0;
      .item {
        padding: 4vh 7vw;
        p {
          line-height: 25px;
          letter-spacing: 1px;
        }
        .testimonial-image {
          width: 75px;
          height: 75px;
          border-radius: 75px;
          display: inline-block;
        }
        .testimonial-text {
          display: inline-block;
          margin-left: 20px;
          height: 75px;
        }
      }

      .owl-nav {
        position: absolute;
        top: 15vh;
        width: 100%;
        height: 0;
      }

      .owl-nav .owl-prev {
        position: absolute;
        left: 0;
      }

      .owl-nav .owl-next {
        position: absolute;
        left: unset;
        right: 0;
      }
    }
  }
}
