.navTabs {
  justify-content: center;
  border: none;
  outline: none;
}

.switchNav_Item {
  color: #707c8b;
  text-decoration: none;
  display: inline-block;
  font-size: 1.7em;
  margin: 0 10px;
  padding-bottom: 10px;
}

#switchNav_Item_Active {
  border: none;
  outline: none;
}

#switchNav_Item_Active.active {
  color: black;
  border-bottom: 3px solid #db433e;
}

.formContainer {
  padding: 25px 40px;
  background-color: #f4f9f9;
}

.FormField {
  margin-bottom: 20px;
}
