.primary{
    color: $primary !important;
}
.success{
    color: $success !important;
}
.info{
    color: $info !important;
}
.warning{
    color: $warning !important;
}
.danger{
    color: $danger !important;
}
.secondary{
    color: $secondary !important;
}
.white{
    color: $white !important;
}


