.location,
.payment,
.pickup {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  color: #fff;
  transition: left 0.5s ease;
}

.overlay-maroon {
  height: 100%;
  width: 100%;
  background: radial-gradient(rgba(117, 35, 5, 0.95), rgba(44, 13, 1, 0.95));
}

.location .top,
.location .bottom,
.payment .top,
.payment .bottom,
.pickup .top,
.pickup .bottom {
  margin: 7vh 0;
  padding: 0 0vw;
}

.location .bottom form input[type="email"],
.location .bottom form input[type="text"],
.location .bottom form input[type="number"] {
  display: block;
  width: 100%;
  font-family: inherit;
  font-size: 1.5rem;
  font-size: inherit;
  border-radius: 0;
  background: hsla(0, 0%, 100%, 0.3);
  color: #fff;
  outline: none;
  border: 1px solid transparent;
  transition: border 0.25s ease;
  padding: 0.5rem 1rem;
}

.location .bottom form input[type="email"]::placeholder,
.location .bottom form input[type="text"]::placeholder,
.location .bottom form input[type="number"]::placeholder {
  color: rgb(195, 195, 195);
}

.location .bottom form input[type="email"]:focus,
.location .bottom form input[type="text"]:focus,
.location .bottom form input[type="number"]:focus {
  display: block;
  width: 100%;
  font-family: inherit;
  font-size: 1.5rem;
  font-size: inherit;
  border-radius: 0;
  color: #fff;
  background: hsla(0, 0%, 100%, 0.3);
  outline: none;
  border: 1px solid transparent;
  transition: border 0.25s ease;
  padding: 0.5rem 1rem;
}

.location .bottom .button-form,
.payment .bottom .button-form,
.pickup .bottom .button-form {
  border-radius: 0;
  padding: 0.6rem 1rem;
}

.payment .bottom form input[type="text"],
.payment .bottom form input[type="number"] {
  display: block;
  width: 100%;
  font-family: inherit;
  font-size: 1.5rem;
  font-size: inherit;
  border-radius: 0;
  background: hsla(0, 0%, 100%, 0.3);
  color: #fff;
  outline: none;
  border: 1px solid transparent;
  transition: border 0.25s ease;
  padding: 0.5rem 1rem;
}

.payment .bottom form input[type="text"]::placeholder,
.payment .bottom form input[type="number"]::placeholder {
  color: rgb(195, 195, 195);
}

.payment .bottom form input[type="text"]:focus,
.payment .bottom form input[type="number"]:focus {
  display: block;
  width: 100%;
  font-family: inherit;
  font-size: 1.5rem;
  font-size: inherit;
  border-radius: 0;
  color: #fff;
  background: hsla(0, 0%, 100%, 0.3);
  outline: none;
  border: 1px solid transparent;
  transition: border 0.25s ease;
  padding: 0.5rem 1rem;
}

.btn-close {
  font-size: 2rem;
  top: 3vh;
  right: 3vw;
  cursor: pointer;
  color: #fff;
  background: radial-gradient(rgba(73, 22, 4, 0.95), rgba(51, 15, 1, 0.95));
}

.pickup .top .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 1.875rem;
}

.pickup .bottom .form .fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
}
