.logo-white {
  width: 157.5px;
  height: 45px;
  background: url("/images/logo-rentnesia/rentnesia-logo-black.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.logo {
  width: 157.5px;
  height: 45px;
  background: url("/images/logo-rentnesia/rentnesia-logo.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
