.logo-white{
    width: 175px;
    height: 42px;
    background: url('./assets/img/logo/ezypos-logo2.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.logo{
    width: 175px;
    height: 42px;
    background: url('./assets/img/logo/ezypos-logo.png');
    background-repeat: no-repeat;
    background-size: 100%;
}