#menu-navbar {
  margin-left: 30px;
}

.menu-href {
  margin-right: 10px;
  color: white;
  font-size: 13pt;
  border-bottom: 2px solid pink;

  &.hover,
  &:hover {
    color: rgb(233, 233, 233);
    border-bottom: 2px solid pink;
  }

  &.focus,
  &:focus {
    color: rgb(233, 233, 233);
  }
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  .show > &.dropdown-toggle {
    color: rgb(233, 233, 233);
  }
  &:not(:disabled):not(.disabled):active:focus,
  &:not(:disabled):not(.disabled).active:focus,
  .show > &.dropdown-toggle:focus {
    color: rgb(233, 233, 233);
  }
}

.navbar-absolute {
  background: transparent;
  position: absolute;
  width: 100vw;
  z-index: 10;
  padding: 2rem;
  transition-duration: 0.3s;
  transition-delay: 0s;
  transition-property: all;
  transition-timing-function: ease-in-out;
  .nav-item {
    margin-right: 1rem;
    .nav-link {
      color: #282828;
      font-size: 0.875rem;
      font-weight: 500;
      letter-spacing: 1px;
      border-bottom: 2px solid transparent;
      transition: all 0.5s;
      cursor: pointer;
      &:hover {
        border-bottom-color: #282828;
      }
      &.focus,
      &:focus {
        outline: none;
        border-bottom-color: #282828;
      }
    }
  }
}

.navbar-fixed {
  background: white;
  position: fixed;
  width: 100vw;
  z-index: 11;
  padding: 1rem;
  transition-duration: 0.3s;
  transition-delay: 0s;
  transition-property: all;
  transition-timing-function: ease-in-out;
  border-bottom: 1px solid rgb(243, 243, 243);
  // box-shadow: 0 18px 55px 0 rgba(0, 0, 0, 0.06);
  .nav-item {
    margin-right: 1rem;
    .nav-link {
      color: #282828;
      font-size: 0.875rem;
      font-weight: 500;
      letter-spacing: 1px;
      border-bottom: 2px solid transparent;
      cursor: pointer;
      transition: all 0.5s;
      &:hover {
        border-bottom-color: #282828;
      }
      &.focus,
      &:focus {
        outline: none;
        border-bottom-color: #282828;
      }
    }
  }
}

.dropdown-child {
  padding: 0;
  line-height: 1.4;
  &:hover {
    background: transparent !important;
  }
  a {
    color: rgba(73, 80, 87, 0.75);
    padding: 8px 10px;
    margin: 0 10px;
    display: block;
    border-radius: 0.25rem;
    &:active {
      color: $default !important;
      font-weight: 500;
      &::after {
        content: "\F00C";
        font-family: "Font Awesome 5 Solid";
        position: absolute;
        right: 20px;
      }
    }
    &:hover {
      color: #111111;
      background: #f5faff;
      text-decoration: none;
    }
  }
}

.categories-header {
  min-width: 30vw;
  width: 30vw;
  padding: 0;
  &.show {
    display: flex !important;
    flex-wrap: wrap;
  }
  .item-categorie {
    width: 15vw;
    &:hover {
      background: #eeeeee;
    }
  }
}
