.profile {
  padding-top: 13vh;
  padding-bottom: 5vh;
  min-height: 100vh;
  .user-profile {
    padding: 5vh 20vw;
    display: flex;
    align-items: center;
    .user-img {
      border-radius: 100px;
      height: 100px;
      width: 100px;
    }
  }
  .dashboard-empty-appointment {
    padding: 26px 29px 15px;
    text-align: center;
    border: 1px solid #d6d5dc;
    background-color: #f4f4f4;
    .card-title {
      font-weight: 700;
      color: #33435a;
      font-size: 1rem;
    }
  }

  .dashboard-empty-items {
    margin-top: 23px;
    margin-bottom: 50px;
    padding: 26px 29px 15px;
    text-align: center;
    border: 1px solid #d6d5dc;
    background-color: #f4f4f4;
  }

  .dashboard-empty-items-img {
    background-size: 100%;
    width: 270px;
    height: 120px;
  }

  .card-title-items {
    font-weight: 700;
    color: #33435a;
    font-size: 1.25rem;
    display: flex;
    justify-content: space-between;
  }

  .account-details {
    display: flex;
    flex-direction: column;
    flex: 1 1;

    .account-details-avatar {
      display: flex;
      justify-content: flex-start;
      padding: 100px;
      margin-top: 50px;
      margin-left: 125px;

      .account-avatar {
        align-items: center;
        width: 6.75rem;
        height: 6.75rem;

        &-image {
          display: flex;
          justify-content: center;

          &-edit {
            bottom: 0;
            right: 0;
          }
        }
      }
    }
    .form-profile {
      margin-top: -70px;
      margin-bottom: 100px;
    }
  }
  .card-item {
    box-shadow: none;
    cursor: pointer;
    border-radius: 2px;
    transition: box-shadow 0.25s ease 0s, transform 0.25s ease 0s,
      -webkit-transform 0.25s ease 0s;
    cursor: pointer;
    text-decoration: none;
    color: #282828;
    &:hover {
      -webkit-transform: scale(1.05);
      transform: scale(1.05);
      box-shadow: 1.2rem 1.5rem 5rem 0 rgba(0, 0, 0, 0.25);
    }
    .cat-tag-main {
      position: absolute;
      top: 15px;
      left: -10px;
      color: #fff;
      font-size: 12px;
      padding: 5px 10px;
      z-index: 2;
      &::before {
        border-left: 14px solid transparent;
        border-right: 14px solid transparent;
        content: "";
        height: 100%;
        position: absolute;
        right: -14px;
        top: 0;
      }
      &::after {
        border-left: 10px solid transparent;
        border-right: 0 solid transparent;
        content: "";
        height: 100%;
        position: absolute;
        top: 28px;
        left: 0;
      }
    }
    .cat-new-tag {
      background: #009bff;
      &::before {
        border-bottom: 14px solid #009bff;
        border-top: 14px solid #009bff;
      }
      &::after {
        border-top: 7px solid #167dc0;
      }
    }
    p {
      margin: 0;
    }
  }
}
