.search-container {
  z-index: 15;
  position: fixed;
  overflow-y: auto;
  top: 0;
  left: 0;
  height: 0;
  width: 100vw;
  background: #fff;
  transition: 0.7s;
  &.active {
    transition: 0.7s;
    height: 120vh;
  }
  .search {
    border-bottom: 1px solid rgb(221, 221, 221);
    padding: 3vh 0;
    .btn-close {
      cursor: pointer;
    }
    .md-form {
      margin: 0 !important;
      .search-input {
        border: 1px solid transparent;
        &:hover {
          border: 1px solid transparent !important;
        }
        &:focus {
          border: 1px solid transparent !important;
          box-shadow: 0 1px 0 0 transparent;
        }
        &:focus:not([readonly]) {
          border: 1px solid transparent !important;
          box-shadow: 0 1px 0 0 transparent;
        }
        &:focus-within {
          border: 1px solid transparent !important;
        }
        &:active {
          border: 1px solid transparent !important;
        }
        &::placeholder {
          color: rgb(192, 192, 192);
          font-weight: 400 !important;
        }
      }
    }
  }
  .filter {
    border-bottom: 1px solid rgb(221, 221, 221);
    padding: 1.5vh 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    .filter-nav {
      width: 100%;
      display: block;
      .nav-item {
        display: inline-block;
        margin: 0 1.5rem;
        .nav-link {
          letter-spacing: 0.5px;
          font-size: 14px;
          font-weight: 400;
          color: rgb(133, 133, 133);
        }
        .pointer {
          cursor: pointer;
        }
      }
    }
  }
  .result {
    // display: flex;
    // justify-content: flex-start;
    // flex-wrap: wrap;
    padding: 3vh 0;
    .card {
      box-shadow: none;
      border-radius: 2px;
      cursor: pointer;
      transition: box-shadow 0.25s ease 0s, transform 0.25s ease 0s,
        -webkit-transform 0.25s ease 0s;
      cursor: pointer;
      color: #282828;
      text-decoration: none;
      &:hover {
        z-index: 21;
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        box-shadow: 1.2rem 1.5rem 5rem 0 rgba(0, 0, 0, 0.25);
      }
    }
  }
}
